body {
    background-color: #F2F2F2;
}

head {
    display: flex;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url(Raleway-ExtraBold.ttf);
}

.logo {
    float: left;
    vertical-align: top;
    position: top;
    padding-top: 12px;
    padding-left: 3%;
}

.menu {
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
    justify-content: flex-end;
    float: right;
    text-decoration: none;
    font-style: normal;
    text-align: right;
    position: top;
    list-style: none;
}

ul {
    position: top;
    margin-top: -54px;
    width: 100%;
}

li {
    display: inline;
}

li a {
    justify-content: space-between;
    display: inline-block;
    color: rgb(80, 79, 79);
    margin-right: 5%;
    border-spacing: 30px;
    margin-top: -54px;
}

li:last-child a {
    color: #0065FC;
}

a:link {
    outline: none;
    text-decoration: none;
    padding-top: 53px;
}

a:hover {
    list-style: none;
    color: #0065fc;
    border-top: 3px #0065FC outset;
    border-collapse: separate;
    border-spacing: 55px;
    padding-top: 50px;
}

#underlogo {
    float: center;
}

.title {
    font-size: 1.8em;
    font-family: 'Raleway-bold', 'sans-serif';
    margin: 50px 15px 30px 0px;
}

.subtitle {
    font-family: 'Raleway-bold', 'sans-serif';
    float: left;
    font-size: medium;
    margin: 50px 15px 30px 0px;
}

.bouton {
    float: left;
    border-radius: 10px;
    background-color: #0065FC outset;
    color: whitesmoke;
}

.recherche {
    border-radius: 10px;
    background-color: silver outset;
    color: black;
}