head {
    display: flex;
}

@font-face {
    font-family: 'Raleway-bold';
    src: url(Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'Raleway Variable';
    src: url(Raleway-VariableFont_wght.ttf);
}

.logo {
    float: left;
    vertical-align: top;
    position: top;
    padding-top: 36px;
    padding-left: 3%;
}


/* NAVIGATION */

.menu {
    font-family: 'Raleway Variable', Arial, Helvetica, sans-serif;
    float: right;
    text-decoration: none;
    font-style: normal;
    text-align: right;
    position: top;
    list-style: none;
}

ul {
    position: top;
    margin-top: -30px;
    width: 100%;
    padding-top: 5px;
}

li {
    display: inline;
}

li a {
    justify-content: space-between;
    display: inline-block;
    color: rgb(80, 79, 79);
    border-spacing: 30px;
    padding-right: 5%;
    margin-top: -30px;
    padding-top: 5px;
}

li:last-child a {
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
    color: #0065FC;
}

a:link {
    outline: none;
    text-decoration: none;
}

a:hover {
    color: #0065fc;
}

li:hover {
    list-style: none;
    color: #0065fc;
    border-top: 3px #0065FC outset;
    border-collapse: separate;
    border-spacing: 5px;
    padding-top: 58px;
}


/* SOUS TITRE */

#underlogo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 15px;
}

.title {
    font-size: 1.3em;
    font-family: 'Raleway-bold', 'sans-serif';
    margin: 1px;
    margin-top: 26px;
    margin-left: 3%;
}

.subtitle {
    font-family: 'Raleway Variable', 'sans-serif';
    float: left;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 3%;
}


/* BARRE DE RECHERCHE */

.recherche {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px;
    color: black;
    margin-left: 3%;
}

.gps {
    background-color: #F2F2F2;
    border-radius: 18px 0px 0px 18px;
    padding: 15px 15px;
    width: 18px;
}

.barre {
    font-family: Raleway-Bold;
    font-size: 1.05em;
    color: black;
    align-items: center;
    padding: 15px 15px;
    width: 250px;
    border: none;
}

.bouton {
    background-color: #0065FC;
    border-radius: 0px 18px 18px 0px;
    padding: 15px 15px;
    cursor: pointer;
    border: none;
}

.texte-rechercher {
    color: white;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}


/* FILTRES NAV */

.filtres {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin-top: 10px;
    margin-left: 3%;
}

.filtres_list {
    display: flex;
    justify-content: left;
    flex-flow: nowrap;
    margin-top: 20px;
    margin-left: 10px;
}

.filtres_title {
    margin-top: 50px;
}

.filtres_bouton {
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-left: #DEEBFF;
    border-radius: 50px;
    margin-right: 1.6vw;
    height: 59px;
}

.filtres_bouton:hover,
.bouton_img:hover {
    background-color: #0065FC;
    color: #DEEBFF;
    transition: 0.5s;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.bouton_img {
    z-index: 1;
    background-color: #DEEBFF;
    color: #0065FC;
    padding: 20px 0px;
    margin-right: 7px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
    font-size: 1.6em;
}

.bouton_img:hover {
    transition: 0.5s;
    transform: scale(1.2, 1.2);
}

.bouton_text {
    padding: 0px 15px 0px 5px;
    font-family: 'Raleway-bold', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.filtres_info {
    text-align: center;
    color: #0065FC;
    border: 3px solid #DEEBFF;
    border-radius: 100%;
    padding: 5px 6px;
    font-size: 0.8em;
}

.filtres_info-text {
    font-family: 'Raleway Variable', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.fa-info {
    width: 15px;
    margin-left: 3%;
}


/* HEBERGEMENTS */

.hebergements_case {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 70%;
    max-width: 100%;
    margin-left: 3%;
    border-radius: 15px;
}

.fa-star {
    color: #0065FC;
}

.hebergement_title {
    float: left;
    font-family: 'Raleway_Bold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-top: 3px;
    margin-left: 5%;
    border-collapse: separate;
    border-spacing: 5px;
}

.hebergement_marseille {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    background-color: #F2F2F2;
    max-width: 80%;
    padding: 50px;
    border-radius: 20px;
}

.case_text {
    color: black;
}

.case_prix {
    color: black;
    font-family: 'Raleway Variable', Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.cannebiere_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.cannebiere {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 240px;
    max-width: 30%;
}

.cannebiere:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.port_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 30%;
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.port {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 240px;
    max-width: 30%;
}

.port:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.mouette_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 30%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.mouette {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 240px;
    max-width: 30%;
}

.mouette:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.lamer_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 30%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.lamer {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.lamer:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.lepanier_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 30%;
    height: 45%;
    width: 100%;
    object-fit: cover;
}

.lepanier {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.lepanier:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.amina_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 29%;
    width: 100%;
    object-fit: cover;
}

.amina {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.amina:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.more {
    margin-bottom: 8px;
    color: black;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
}


/* HEBERGEMENTS POPULAIRE */

.titre_logo_pop {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.populaire {
    background-color: #F2F2F2;
    display: flex;
    flex-flow: column nowrap;
    float: right;
    max-width: 30%;
    border-radius: 20px;
}

.titre_pop {
    display: flex;
    flex-flow: row nowrap;
    top: 30px;
    right: 10px;
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-top: 5px;
    margin-right: 2%;
}

.case_populaire {
    display: flex;
    flex-flow: column wrap;
    width: 15%;
    max-width: 100%;
    margin-right: 3%;
    border-radius: 15px;
}

.soleil_img {
    border-radius: 15px 0px 0px 15px;
    min-height: 30%;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.soleil_matin {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: stretch;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 10px 10px lightgray;
    max-height: 100px;
    max-width: 100%;
}

.coeur_img {
    border-radius: 15px 0px 0px 15px;
    min-height: 30%;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.coeur {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: stretch;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 10px 10px lightgray;
    max-height: 100px;
    max-width: 100%;
}

.bleu_img {
    border-radius: 15px 0px 0px 15px;
    min-height: 30%;
    height: 100%;
    width: 50%;
    object-fit: cover;
}

.bleu_blanc {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    justify-content: stretch;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 10px 10px lightgray;
    max-height: 100px;
    max-width: 100%;
}

.pop_text {
    color: black;
}

.pop_prix {
    font-family: "Raleway_Variable", Arial, Helvetica, sans-serif;
}


/* ACTIVITES */

.activity {
    display: flex;
    justify-content: start;
    margin-top: 5px;
    margin-left: 3%;
}

.actitle {
    padding-top: 20px;
    margin-left: 3%;
    font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

.vieuxport_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 140%;
    width: 100%;
    object-fit: cover;
}

.vieux_port {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 300px;
    height: 300px;
    max-width: 32%;
}

.iles_fort {
    display: flex;
    flex-flow: column wrap;
}

.fortpomegues_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.fort_pomegues {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.iles_frioul_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.iles_frioul {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.parc_national_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 140%;
    width: 100%;
    object-fit: cover;
}

.parc_national {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 300px;
    height: 300px;
    max-width: 32%;
}

.notre_dame_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.notre_dame {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}

.parc_longchamp_img {
    border-radius: 15px 15px 0px 0px;
    min-height: 20%;
    height: 40%;
    width: 100%;
    object-fit: cover;
}

.parc_longchamp {
    font-family: 'Raleway-Bold', Arial, Helvetica, sans-serif;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    max-height: 250px;
    max-width: 30%;
}


/* FOOTER */

.menu_footer {
    float: end;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.apropos {
    margin-left: 3%;
    display: flex;
    flex-flow: column wrap;
    font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
}

.apropos a {
    display: flex;
    padding: 3px;
    color: black;
}

.noshebergements {
    margin-left: 3%;
    display: flex;
    flex-flow: column wrap;
    font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
}

.noshebergements a {
    display: flex;
    padding: 3px;
    color: black;
}

.assistance {
    margin-left: 3%;
    display: flex;
    flex-flow: column wrap;
    font-family: "Raleway Bold", Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
}

.assistance a {
    display: flex;
    padding: 3px;
    color: black;
}